$primaryColor:#303c47;
$secondaryColor:#417d9b;
$thirdColor:#FCFAED;
$fourthColor: #0784f2;
$fifthColor:#ECAD2F;
$sixthColor:#A1CCDD;

$primaryFont:"Barlow Condensed", sans-serif;
$secondaryFont:"Barlow", sans-serif;