* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#main-header {
  max-width: 100%;
  position: relative;
  z-index: 2;
  font-family: "Barlow Condensed", sans-serif;
}
#main-header .container {
  background-color: #303c47;
  max-width: 100%;
  padding: 0;
}
#main-header .container .tophead {
  background-color: #417d9b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  max-width: 100%;
}
#main-header .container .tophead.hideUp {
  display: none;
}
@media (max-width: 768px) {
  #main-header .container .tophead {
    justify-content: space-between;
    padding: 20px;
  }
}
#main-header .container .tophead a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
#main-header .container .tophead a.close {
  margin-left: 15px;
}
#main-header .container .bottomhead {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead {
    justify-content: start;
    padding: 0 40px;
  }
}
#main-header .container .bottomhead .burgerMenu {
  display: none;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead .burgerMenu {
    display: block;
    margin-right: 15px;
  }
}
#main-header .container .bottomhead .burgerMenu .menubar {
  position: relative;
}
#main-header .container .bottomhead .burgerMenu .menubar i {
  font-size: 25px;
  color: white;
}
#main-header .container .bottomhead .burgerMenu .menubar i.hiddenClose {
  display: none;
}
#main-header .container .bottomhead .burgerMenu .menuMobContent {
  position: absolute;
  top: 78%;
  z-index: -1;
  left: 0;
  background-color: #417d9b;
  padding: 20px 50px;
  width: 100%;
  display: none;
}
#main-header .container .bottomhead .burgerMenu .menuMobContent .mainMobnav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#main-header .container .bottomhead .burgerMenu .menuMobContent .mainMobnav li {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid grey;
}
#main-header .container .bottomhead .burgerMenu .menuMobContent .mainMobnav li a {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main-header .container .bottomhead .logo {
  max-width: 15%;
  padding: 0;
  text-align: left;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead .logo {
    max-width: 170px;
  }
}
#main-header .container .bottomhead .logo a {
  display: block;
  max-width: 100%;
}
#main-header .container .bottomhead .logo a img {
  max-width: 100%;
}
#main-header .container .bottomhead .logo a img.show {
  display: block;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead .logo a img.show {
    display: none;
  }
}
#main-header .container .bottomhead .logo a img.hidden {
  display: none;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead .logo a img.hidden {
    display: block;
  }
}
#main-header .container .bottomhead nav {
  max-width: 70%;
  margin-left: 2%;
  overflow: hidden;
  height: 100%;
}
#main-header .container .bottomhead nav .navigation {
  max-width: 100%;
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead nav .navigation {
    display: none;
  }
}
#main-header .container .bottomhead nav .navigation .mainnav {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
#main-header .container .bottomhead nav .navigation .mainnav li {
  margin: 0px 20px;
  height: 100px;
  display: inline-block;
  list-style-type: none;
}
#main-header .container .bottomhead nav .navigation .mainnav li a {
  color: #ffffff;
  font-size: 24px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}
#main-header .container .bottomhead nav .navigation .mainnav li a .fa-caret-down {
  margin-left: 10px;
}
#main-header .container .bottomhead nav .navigation .mainnav li a.menu {
  position: relative;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown {
  position: absolute;
  flex-direction: column;
  top: 100%;
  background-color: beige;
  left: 0;
  width: 100%;
  display: none;
  padding: 20px 0 0;
  z-index: -1;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown.showMenu {
  display: block;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead nav .navigation .mainnav li .dropdown {
    z-index: 1;
  }
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .dropdownList {
  display: flex;
  max-width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead nav .navigation .mainnav li .dropdown .dropdownList {
    justify-content: center;
    align-items: center;
  }
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .dropdownList .dropdownUl {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  padding: 0;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .dropdownList .dropdownUl li {
  margin: 10px 20px;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .dropdownList .dropdownUl li a {
  color: #000000;
  display: flex;
  justify-content: start;
  align-items: center;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .dropdownList .dropdownUl li a img {
  max-width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .viewmore {
  text-align: center;
  padding: 20px 0;
}
#main-header .container .bottomhead nav .navigation .mainnav li .dropdown .viewmore button {
  background-color: #417d9b;
  border: none;
  outline: none;
  min-width: 150px;
  border-radius: 10px;
  min-height: 60px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
}
#main-header .container .bottomhead .contactside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 1024px) {
  #main-header .container .bottomhead .contactside {
    margin-left: auto;
  }
}
#main-header .container .bottomhead .contactside .signin {
  margin-right: 30px;
  font-weight: 500;
}
#main-header .container .bottomhead .contactside .signin a {
  color: #ffffff;
  font-size: 20px;
}
#main-header .container .bottomhead .contactside .signin a .fa-user {
  margin-left: 12px;
}
#main-header .container .bottomhead .contactside .shopbag a {
  font-size: 22px;
  color: #ffffff;
}

#menuInner {
  max-width: 100%;
  background-color: #FCFAED;
}
#menuInner .container .homeCatering {
  display: flex;
  padding: 30px 0;
}
@media (max-width: 768px) {
  #menuInner .container .homeCatering {
    display: none;
  }
}
#menuInner .container .homeCatering li {
  margin: 0 10px;
}
#menuInner .container .homeCatering li a {
  color: #7d7d7d;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
#menuInner .container .homeCatering li a.linkText {
  color: black;
}
#menuInner .container .homeCatering li a span {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  #menuInner .container .homeCatering {
    padding: 30px 0 30px 30px;
  }
}
#menuInner .container .menuTitle {
  text-align: center;
}
#menuInner .container .menuTitle h1 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
}
#menuInner .container #burgerMenuBox {
  max-width: 1300px;
  padding: 0;
  margin: 0 auto;
}
#menuInner .container #burgerMenuBox .menuCard {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 20px 0;
  padding: 0;
}
@media (max-width: 768px) {
  #menuInner .container #burgerMenuBox .menuCard {
    height: auto;
    margin: 20px 0;
  }
}
#menuInner .container #burgerMenuBox .menuCard .burgerImg {
  max-width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}
#menuInner .container #burgerMenuBox .menuCard .burgerImg:hover .hoverImg {
  z-index: 1;
  top: 20px;
}
#menuInner .container #burgerMenuBox .menuCard .burgerImg img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#menuInner .container #burgerMenuBox .menuCard .burgerImg .hoverImg {
  position: absolute;
  top: 0;
  z-index: -1;
  transition: all 0.3s;
}
#menuInner .container #burgerMenuBox .menuCard .menuCardBtn {
  margin-top: 15px;
}
@media (max-width: 1024px) {
  #menuInner .container #burgerMenuBox .menuCard .menuCardBtn {
    width: 100%;
  }
}
#menuInner .container #burgerMenuBox .menuCard .menuCardBtn p {
  font-size: 25px;
  color: black;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}
@media (max-width: 1024px) {
  #menuInner .container #burgerMenuBox .menuCard .menuCardBtn p {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    padding: 0;
  }
}

footer {
  max-width: 100%;
  background-color: #303c47;
  padding-top: 30px;
}
@media (max-width: 1024px) {
  footer {
    padding-top: 15px;
  }
}
footer .container {
  max-width: 1200px;
  padding-left: 0;
  padding: 30px 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  footer .container {
    padding: 15px;
    margin: 0;
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer .container {
    padding: 0 80px;
    margin: 0;
    max-width: 100%;
  }
}
footer .container .mainfooter {
  max-width: 100%;
  display: flex;
}
@media (max-width: 1024px) {
  footer .container .mainfooter {
    flex-direction: column;
  }
}
footer .container .mainfooter .footLogo {
  max-width: 20%;
  padding: 0;
}
footer .container .mainfooter .footLogo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLogo {
    display: none;
  }
}
footer .container .mainfooter .footLinks {
  display: flex;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks {
    width: 100%;
    justify-content: center;
  }
}
footer .container .mainfooter .footLinks .innerLinks {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .innerLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem {
  width: 30%;
  font-family: "Barlow Condensed", sans-serif;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .innerLinks .footFaqItem {
    margin: 0;
    width: 100%;
  }
  footer .container .mainfooter .footLinks .innerLinks .footFaqItem:nth-child(2) {
    margin: 20px 0;
  }
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem.activeFootNav .footNav {
  display: block;
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem .colTitle {
  width: 100%;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .innerLinks .footFaqItem .colTitle {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 10px;
    border-bottom: 1px solid white;
  }
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem .colTitle h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #A1CCDD;
  width: 100%;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .innerLinks .footFaqItem .colTitle h2 {
    color: white;
  }
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem .colTitle button {
  display: none;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .innerLinks .footFaqItem .colTitle button {
    display: block;
    font-size: 30px;
    padding: 0 2px;
    font-family: "Barlow Condensed", sans-serif;
    color: #000000;
    background-color: antiquewhite;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
  }
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .innerLinks .footFaqItem .footNav {
    display: none;
  }
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem .footNav li {
  margin: 15px 0;
}
footer .container .mainfooter .footLinks .innerLinks .footFaqItem .footNav li a {
  color: white;
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
}
footer .container .mainfooter .footLinks .smmLinks {
  margin-top: 50px;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .footLinks .smmLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
}
footer .container .mainfooter .footLinks .smmLinks h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #417d9b;
}
footer .container .mainfooter .footLinks .smmLinks ul {
  display: flex;
  margin-top: 18px;
}
footer .container .mainfooter .footLinks .smmLinks ul li {
  margin: 0 15px;
}
@media (min-width: 1024px) {
  footer .container .mainfooter .footLinks .smmLinks ul li:first-child {
    margin-left: 0;
  }
}
footer .container .mainfooter .footLinks .smmLinks ul li a i {
  color: white;
  font-size: 25px;
}
footer .container .mainfooter .appLinks {
  width: 20%;
  padding-top: 10px;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .appLinks {
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
footer .container .mainfooter .appLinks h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #417d9b;
  text-align: center;
}
footer .container .mainfooter .appLinks ul {
  padding: 0;
  max-width: 100%;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .appLinks ul {
    display: flex;
    flex-direction: row;
  }
}
footer .container .mainfooter .appLinks ul li {
  margin: 20px 0;
  max-width: 100%;
}
@media (max-width: 1024px) {
  footer .container .mainfooter .appLinks ul li {
    margin: 0 20px;
  }
}
footer .container .mainfooter .appLinks ul li a {
  width: 100%;
  display: block;
}
footer .container .mainfooter .appLinks ul li a img {
  width: 100%;
  min-height: 100px;
}
footer .container .bottomFoot {
  max-width: 100%;
  padding-top: 50px;
}
@media (max-width: 1024px) {
  footer .container .bottomFoot {
    padding: 0;
  }
}
footer .container .bottomFoot p {
  margin-left: 4%;
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 10px;
  color: #A1CCDD;
}
@media (max-width: 1024px) {
  footer .container .bottomFoot p {
    margin-left: 0;
  }
}
footer .container .bottomFoot p a {
  color: #A1CCDD;
  text-decoration: underline;
}
footer .container .bottomFoot ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  padding-left: 30px;
}
@media (max-width: 1024px) {
  footer .container .bottomFoot ul {
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
  }
}
footer .container .bottomFoot ul li {
  color: #A1CCDD;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0 15px;
}
footer .container .bottomFoot ul li:first-child {
  margin-right: 100px;
}
@media (max-width: 1024px) {
  footer .container .bottomFoot ul li:first-child {
    margin-right: 50px;
  }
}
@media (max-width: 1024px) {
  footer .container .bottomFoot ul li {
    margin: 15px 0;
  }
}
footer .container .bottomFoot ul li a {
  color: #A1CCDD;
  text-align: center;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}
footer .container .bottomFoot ul li a img {
  max-width: 90%;
}/*# sourceMappingURL=menu.css.map */